body {
  color: white;
  background-color: black;
  margin: auto;
  cursor: url('./assets/img/cursor.gif'), auto;
}

h2{
  margin-bottom: 5rem;
}
.navbar {
  background-color: #811b8c;
  position: fixed;
  width: 100%;
}

#aboutMe {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: -5rem;
}

.text {
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

#gif, #programmer, #abacus, #crypto {
  border-radius: 2rem;
}

#fotoMary {
  width: 10rem;
}

.textaboutme {
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

#custom-background {
  background-color: #5a055d; /* Cambia este color al que desees */
  transition: background-color 0.5s ease; /* Efecto de transición */
  padding: 20px; /* Opcional: Agrega un poco de padding para mejorar el diseño */
}

.textaboutme, p, #crypto {
  text-align: justify;
  margin: 3rem;
}

#programmer, #abacus, #crypto {
  display: flex;
  align-items: center;
  margin-left: 25rem;
  width: 20rem;
}

.carousel-container {
  max-width: 600px; /* Set the desired maximum width */
  margin: 0 auto; /* Center the carousel horizontally */
}

.flip-card {
  margin-top: 10rem;
  margin-left: 25rem;
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 20rem;
  height: 20rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #8e2899;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #8e2899;
  color: black;
  transform: rotateY(180deg);
}

.grid-container {
  display: grid;
  gap: 50px;
}

.gridabout {
  grid-column-start: 2;
  grid-column-end: 3;
}

.carousel-item img {
  width: 100%;
  height: 25rem; /* Puedes ajustar esta altura según tus necesidades */
  object-fit: cover; /* Esto asegura que la imagen se recorte para llenar el contenedor sin distorsionarse */
}

#contact {
  font-size: 1rem;
  text-align: center;
}

.foto {
  width: 100%;
  height: 20rem;
}

a:hover {
  color: #FFD700; /* Color del texto del enlace al pasar el ratón (hover) */
  text-decoration: underline; /* Subraya el texto al pasar el ratón */
}

/* Estilo específico para el footer */
#contact a {
  color: #81C784; /* Color específico para enlaces en el footer */
}

#contact a:hover {
  color: #66BB6A; /* Color específico al pasar el ratón en el footer */
}

/* Estilo para íconos de redes sociales */
#icon {
  margin-left: 0.5rem; /* Margen a la izquierda para separar el ícono del texto */
  font-size: 1.5rem; /* Tamaño de la fuente para los íconos */
  color: #FFFFFF; /* Color del ícono */
  transition: color 0.3s ease; /* Añade una transición suave para cambios de color */
}

#icon:hover {
  color: #FFD700; /* Color del ícono al pasar el ratón */
}