body {
    color: white;
    background-color: black;
    margin: auto;
  }

.navbar{
    background-color: #811B8C;
}

.aboutMe{
  text-align: center;
}


.text{
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

#gif{
border-radius: 2rem;
}

#fotoMary{
  width: 20rem;
  
}

.fotoandtext{
  display: flex;
  justify-content: space-between;
}

.fotoandtext , p, #crypto {
  text-align: justify;
  margin: 3rem;
}

#programmer, #abacus, #crypto {
  display: flex;
  margin-left: 20rem;
  width: 20rem;
}

.carousel-container {
  max-width: 600px; /* Set the desired maximum width */
  margin: 0 auto; /* Center the carousel horizontally */
}
